{% extends 'BootstrapBundle::base.html.twig' %}
{% block title "SlimmeMeter" %}
{% block nav %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('sm_site_default_index') }}">SlimmeMeter</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('sm_site_default_currentpower') }}">Current Power</a></li>
                    <li><a href="{{ path('sm_site_default_currentpowerfase') }}">Current Power Fase</a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Channels <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ path('sm_site_default_channelone') }}">Channel One</a></li>
                            <li><a href="{{ path('sm_site_default_channeltwo') }}">Channel Two</a></li>
                            <li><a href="{{ path('sm_site_default_channelthree') }}">Channel Three</a></li>
                            <li><a href="{{ path('sm_site_default_channelfour') }}">Channel Four</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ path('sm_site_default_lasttelegram') }}">Last Telegram</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.simpleWeather/3.0.2/jquery.simpleWeather.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.1.0/moment.min.js"></script>
    <script>

        function cacheBuster(url) {
            return url.replace(/\?_cb=\d*/, "") + "?_cb=" + new Date().getTime().toString();
        }

        setInterval(function() {
            $(".img-refresh").each(function() {
                this.src = cacheBuster(this.src);
            });
        }, 60000);
        getWeather(); //Get the initial weather.
        setInterval(getWeather, 600000); //Update the weather every 10 minutes.

        function getWeather() {
            $.simpleWeather({
                location: 'Vlissingen, Netherlands',
                unit: 'c',
                success: function(weather) {
                    small = weather.city + ' <img src="'+weather.thumbnail+'" title="'+weather.currently+'"/>'+weather.temp+'&deg;'+weather.units.temp;
                    html = '<h2>' + weather.city + ' <img src="'+weather.thumbnail+'" title="'+weather.currently+'"/>'+weather.temp+'&deg;'+weather.units.temp+'</h2>';
                    html += '<ul><li>Sunrise: '+weather.sunrise+'</li>';
                    html += '<li>Sunset: '+weather.sunset+'</li></ul>';

                    html += '<h4>Forecast:</h4><table class="table">'
                    html += '<th>Day</th><th></th><th>High</th><th>Low</th>';
                    for(var i=0;i<weather.forecast.length;i++) {
                        html += '<tr><td>'+weather.forecast[i].day+'</td><td><img src="' + weather.forecast[i].thumbnail + '"/></td><td>'+weather.forecast[i].high+' ' +weather.units.temp + '</td><td>' +weather.forecast[i].low+' ' +weather.units.temp + '</td></tr>';
                    }
                    html += '</table>';
                    var timestamp = moment(weather.updated);
                    html += '<p><em>Weather updated '+moment(timestamp).fromNow()+'</em></p>';

                    console.log(weather);
                    $("#weather").html(html);
                    $("#weather-small").html(small);
                },
                error: function(error) {
                    $("#weather").html('<p>'+error+'</p>');
                }
            });
        }


    </script>

{% endblock %}


{% block footer %}
{% endblock %}
