{% extends '::base.html.twig' %}
{% block header %}
<h1>{{ 'dashboard'|trans }} - <span id="weather-small"></span></h1>
{% endblock %}
{% block content %}

    <h2>{{ 'current_power'|trans }}</h2>
    <img class="img-responsive img-refresh" src="graph/current_power_hourly.png" id="current_power"/>

    <h2>{{ 'current_power_fase'|trans }}</h2>
    <img class="img-responsive img-refresh" src="graph/current_power_fase_hourly.png" id="current_power_fase"/>

    {% if channel_one_installed %}
    <h2>{{ 'channel_one'|trans }}</h2>
    <img class="img-responsive img-refresh" src="graph/channel_one_daily.png" id="channel_one"/>
    {% endif %}

    {% if channel_two_installed %}
        <h2>{{ 'channel_two'|trans }}</h2>
        <img class="img-responsive img-refresh" src="graph/channel_two_daily.png" id="channel_two"/>
    {% endif %}

    {% if channel_three_installed %}
        <h2>{{ 'channel_three'|trans }}</h2>
        <img class="img-responsive img-refresh" src="graph/channel_three_daily.png" id="channel_three"/>
    {% endif %}

    {% if channel_four_installed %}
        <h2>{{ 'channel_four'|trans }}</h2>
        <img class="img-responsive img-refresh" src="graph/channel_four_daily.png" id="channel_four"/>
    {% endif %}
    <h2>{{ 'weather'|trans }}</h2>
    <div id="weather"></div>
{% endblock %}

