{% extends '::base.html.twig' %}
{% block header %}
    <h1>{{ 'last_telegram'|trans }}</h1>
{% endblock %}
{% block content %}

<table class="table table-striped">
    <tr><td>P1 telegram received on</td><td>{{ telegram.timestamp|date('Y-m-d H:i:s') }}</td></tr>
    <tr><td>Meter supplier</td><td>
            {% if telegram.meter_supplier == 'KMP' %}
            Kamstrup
            {% elseif telegram.meter_supplier == 'ISk' %}
            IskraEmeco
            {% elseif telegram.meter_supplier == 'XMX' %}
                Xemex
            {% elseif telegram.meter_supplier == 'KFM' %}
                Kaifa
            {% else %}
                Unknown supplier: {{ telegram.meter_supplier }}
            {% endif %}
    </td></tr>
    <tr><td>Meter information</td><td>{{ telegram.header }}</td></tr>
    <tr><td>DSMR versie</td><td>{{ telegram.dsmr_version }}</td></tr>
    <tr><td>Meter number electricity</td><td>{{ telegram.equipment_id }}</td></tr>
    <tr><td>Meter reading electricity in (T1)</td><td>{{ telegram.meterreading_in_1 }} {{ telegram.unit_meterreading_in_1 }}</td></tr>
    <tr><td>Meter reading electricity in (T2)</td><td>{{ telegram.meterreading_out_1 }} {{ telegram.unit_meterreading_out_1 }}</td></tr>
    <tr><td>Meter reading electricity out (T1)</td><td>{{ telegram.meterreading_in_2 }} {{ telegram.unit_meterreading_in_2 }}</td></tr>
    <tr><td>Meter reading electricity out (T2)</td><td>{{ telegram.meterreading_out_2 }} {{ telegram.unit_meterreading_out_2 }}</td></tr>
    <tr><td>Current tariff</td><td>{{ telegram.current_tariff }}</td></tr>
    <tr><td>Current power in (+P)</td><td>{{ telegram.current_power_in }} {{ telegram.unit_current_power_in }}</td></tr>
    <tr><td>Current power out (-P)</td><td>{{ telegram.current_power_out }} {{ telegram.unit_current_power_out }}</td></tr>
    <tr><td>Current threshold</td><td>{{ telegram.current_treshold }} {{ telegram.unit_current_treshold }}</td></tr>
    <tr><td>Switch position</td><td>{{ telegram.current_switch_position }}</td></tr>
    <tr><td>Number of power failures</td><td>{{ telegram.powerfailures }}</td></tr>
    <tr><td>Number of long power failures</td><td>{{ telegram.long_powerfailures }}</td></tr>
    <tr><td>Long power failures log</td><td>{{ telegram.long_powerfailures_log }}</td></tr>
    <tr><td>Short voltage sags in fase 1</td><td>{{ telegram.voltage_sags_l1 }}</td></tr>
    <tr><td>Short voltage sags in fase 2</td><td>{{ telegram.voltage_sags_l2 }}</td></tr>
    <tr><td>Short voltage sags in fase 3</td><td>{{ telegram.voltage_sags_l3 }}</td></tr>
    <tr><td>Short voltage swells in fase 1</td><td>{{ telegram.voltage_swells_l1 }}</td></tr>
    <tr><td>Short voltage swells in fase 2</td><td>{{ telegram.voltage_swells_l2 }}</td></tr>
    <tr><td>Short voltage swells in fase 3</td><td>{{ telegram.voltage_swells_l3 }}</td></tr>
    <tr><td>Current instantaneous in fase 1</td><td>{{ telegram.instantaneous_current_l1 }} {{ telegram.unit_instantaneous_current_l1 }}</td></tr>
    <tr><td>Current instantaneous in fase 2</td><td>{{ telegram.instantaneous_current_l2 }} {{ telegram.unit_instantaneous_current_l2 }}</td></tr>
    <tr><td>Current instantaneous in fase 3</td><td>{{ telegram.instantaneous_current_l3 }} {{ telegram.unit_instantaneous_current_l3 }}</td></tr>
    <tr><td>Current instantaneous active power (+P) in fase 1</td><td>{{ telegram.instantaneous_active_power_in_l1 }} {{ telegram.unit_instantaneous_active_power_in_l1 }}</td></tr>
    <tr><td>Current instantaneous active power (+P) in fase 2</td><td>{{ telegram.instantaneous_active_power_in_l2 }} {{ telegram.unit_instantaneous_active_power_in_l2 }}</td></tr>
    <tr><td>Current instantaneous active power (+P) in fase 3</td><td>{{ telegram.instantaneous_active_power_in_l3 }} {{ telegram.unit_instantaneous_active_power_in_l3 }}</td></tr>
    <tr><td>Current instantaneous active power (-P) out fase 1</td><td>{{ telegram.instantaneous_active_power_out_l1 }} {{ telegram.unit_instantaneous_active_power_out_l1 }}</td></tr>
    <tr><td>Current instantaneous active power (-P) out fase 2</td><td>{{ telegram.instantaneous_active_power_out_l2 }} {{ telegram.unit_instantaneous_active_power_out_l2 }}</td></tr>
    <tr><td>Current instantaneous active power (-P) out fase 3</td><td>{{ telegram.instantaneous_active_power_out_l3 }} {{ telegram.unit_instantaneous_active_power_out_l3 }}</td></tr>
    <tr><td>Message code</td><td>{{ telegram.message_code }}</td></tr>
    <tr><td>Message text</td><td>{{ telegram.message_text }}</td></tr>
</table>

    <h4>Channel 1</h4>
   {% if telegram.channel1 is not null %}
      
       <table class="table table-striped">
           <tr><td>Channel type</td><td>{{ telegram.channel1.typeId }} ({{ telegram.channel1.typeDescription }})</td></tr>
           <tr><td>Meter number</td><td>{{ telegram.channel1.equipmentId }}</td></tr>
           <tr><td>Timestamp reading</td><td>{{ telegram.channel1.timestamp|date('Y-m-d H:i:s') }}</td></tr>
           <tr><td>Meter reading</td><td>{{ telegram.channel1.meterReading }} {{ telegram.channel1.unit }}</td></tr>
           <tr><td>Actual valve position</td><td>{{ telegram.channel1.valvePosition }}</td></tr>
       </table>
   {% else %}
       <p>Channel one is not installed</p>
   {% endif %}

    <h4>Channel 2</h4>
    {% if telegram.channel2 is not null %}

        <table class="table table-striped">
            <tr><td>Channel type</td><td>{{ telegram.channel2.typeId }} ({{ telegram.channel2.typeDescription }})</td></tr>
            <tr><td>Meter number</td><td>{{ telegram.channel2.equipmentId }}</td></tr>
            <tr><td>Timestamp reading</td><td>{{ telegram.channel2.timestamp|date('Y-m-d H:i:s') }}</td></tr>
            <tr><td>Meter reading</td><td>{{ telegram.channel2.meterReading }} {{ telegram.channel2.unit }}</td></tr>
            <tr><td>Actual valve position</td><td>{{ telegram.channel2.valvePosition }}</td></tr>
        </table>
    {% else %}
        <p>Channel two is not installed</p>
    {% endif %}

    <h4>Channel 3</h4>
    {% if telegram.channel3 is not null %}

        <table class="table table-striped">
            <tr><td>Channel type</td><td>{{ telegram.channel3.typeId }} ({{ telegram.channel3.typeDescription }})</td></tr>
            <tr><td>Meter number</td><td>{{ telegram.channel3.equipmentId }}</td></tr>
            <tr><td>Timestamp reading</td><td>{{ telegram.channel3.timestamp|date('Y-m-d H:i:s') }}</td></tr>
            <tr><td>Meter reading</td><td>{{ telegram.channel3.meterReading }} {{ telegram.channel3.unit }}</td></tr>
            <tr><td>Actual valve position</td><td>{{ telegram.channel3.valvePosition }}</td></tr>
        </table>
    {% else %}
        <p>Channel one is not installed</p>
    {% endif %}

    <h4>Channel 4</h4>
    {% if telegram.channel4 is not null %}

        <table class="table table-striped">
            <tr><td>Channel type</td><td>{{ telegram.channel4.typeId }} ({{ telegram.channel4.typeDescription }})</td></tr>
            <tr><td>Meter number</td><td>{{ telegram.channel4.equipmentId }}</td></tr>
            <tr><td>Timestamp reading</td><td>{{ telegram.channel4.timestamp|date('Y-m-d H:i:s') }}</td></tr>
            <tr><td>Meter reading</td><td>{{ telegram.channel4.meterReading }} {{ telegram.channel4.unit }}</td></tr>
            <tr><td>Actual valve position</td><td>{{ telegram.channel4.valvePosition }}</td></tr>
        </table>
    {% else %}
        <p>Channel four is not installed</p>
    {% endif %}


{% endblock %}
